<div class="container my-3">
  <div class="d-flex align-items-center flex-column">
    <div class="alert w-50">
      <div *ngIf="message" class="alert-success p-2">{{message}}</div>
    </div>
    <h3>Add Book</h3>
    <form [formGroup]="bookForm" class="w-50" (submit)="onSubmit()">
      <div class="row my-2">
        <div class="col">
          <label class="form-label" for="title">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter title of book">
        </div>
      </div>
      <div class="row my-2">
        <div class="col">
          <label class="form-label" for="title">Author</label>
          <input type="text" class="form-control" id="author" formControlName="author" placeholder="Enter author of book">
        </div>
      </div>
      <div class="row my-2">
        <div class="col">
          <label class="form-label" for="title">Price</label>
          <input type="number" class="form-control" id="price" formControlName="price" placeholder="Enter price of book">
        </div>
      </div>
      <div class="row my-2">
        <div class="col">
          <label class="form-label" for="category">Category</label>
          <select class="form-control" name="category" id="category" formControlName="category">
            <option [value]="category.key" *ngFor="let category of categories">{{category.text}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary w-100" [disabled]="bookForm.invalid">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>